*.o
*.dSYM
*.csv
*.out
*.png
*.so
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
!cfg/yolo-obj.cfg
build/darknet/*
!build/darknet/YoloWrapper.cs
!build/darknet/x64/data/obj.names
!build/darknet/x64/data/obj.data
!build/darknet/x64/data/train.txt
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# CMake #
cmake-build-debug/
CMakeLists.txt
